@font-face {
  font-family: 'icomoon';
	src:url('./icomoon.eot?xyhtt4');
	src:url('./icomoon.eot?xyhtt4#iefix') format('embedded-opentype'),
		url('./icomoon.ttf?xyhtt4') format('truetype'),
		url('./icomoon.woff?xyhtt4') format('woff'),
		url('./icomoon.svg?xyhtt4#icomoon') format('svg');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'icomoon';
  background: url('./professor_hubert_j__farnsworth_by_tranzorz3d-d495mex.jpg');
}